body {
  font-family: "Raleway", sans-serif;
}

:root {
  --neutral-50: #E8E9EA;
  --neutral-100: #B8BABE;
  --neutral-200: #96989E;
  --neutral-300: #666A72;
  --neutral-400: #484D56;
  --neutral-500: #1A202C;
  --neutral-600: #181D28;
  --neutral-700: #12171F;
  --neutral-800: #0E1218;
  --neutral-900: #0B0D12;
}

.neutralBackground {
  background-color: var(--neutral-50);
}

.collectionImg {
  width: 100%;
  height: 240px;
}

.build{
  background-image: url("/assets/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-position: center;
}

/* responsive */

@media (min-width: 1200px) {
  .heroImage {
    margin-top: 2%;
    margin-left: -5%;
  }

  .mainTitle {
    font-size: 125px !important;
  }
}


@media (max-width: 1399px) {
  .mainTitle {
    font-size: 96px !important;
  }
}

@media (max-width: 1199px) {
  .mainTitle {
    font-size: 78px !important;
  }

  .heroImage {
    margin-top: 2%;
    margin-left: -9%;
  }
}

@media (max-width: 992px) {
  .heroImage {
    margin-top: 2%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 86px !important;
  }
}

@media (max-width: 518px) {
  .mainTitle {
    font-size: 52px !important;
  }

  .collectionCard {
    flex: 1 0 51%
  }
}


/* Animations */

.card {
  border: solid 2px;
  border-color: var(--neutral-200);
  background-image: linear-gradient(163deg, #ff0075 0%, #8a00ff 100%);
  transition: all .3s;
  border-radius: 20px;
 }
 
 .card2 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  transition: all .2s;
 }
 
 .card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
 }
 
 .card:hover {
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
 }